cycler==0.10.0
Django==1.8.3
django-ckeditor==5.0.3
django-tinymce==2.3.0
ecdsa==0.13
Fabric==1.11.1
ipython==3.2.1
lxml==3.4.4
nltk==3.0.4
numpy==1.11.0
pandas==0.18.1
paramiko==1.17.1
pycrypto==2.6.1
pyparsing==2.1.5
python-dateutil==2.5.3
python-docx==0.8.5
pytz==2016.4
scikit-learn==0.17.1
scipy==0.17.1
six==1.10.0
Unidecode==0.4.19
